svg.icon.linkedin(
	viewBox="0 0 24 24"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
)
	path.icon.fill(
		fill-rule="evenodd"
		clip-rule="evenodd"
		fill="black"
		d="M1.87 0C0.84 0 0 0.84 0 1.87V22.13C0 23.16 0.84 24 1.87 24H22.13C23.16 24 24 23.16 24 22.13V1.87C24 0.84 23.16 0 22.13 0H1.87ZM3.56 9V20.44H7.13V9H3.56ZM3.28 5.3C3.28 4.2 4.2 3.28 5.3 3.28C6.48 3.28 7.4 4.2 7.4 5.3C7.4 6.48 6.48 7.4 5.3 7.4C4.2 7.4 3.28 6.48 3.28 5.3ZM20.44 20.44L20.43 13.31C20.43 10.5 18.7 8.63 16.13 8.63C14.5 8.63 13.27 9.39 12.37 10.5V9H9V20.44H12.56V14.44C12.56 12.94 13.59 11.8 14.8 11.8C15.83 11.8 16.87 12.47 16.87 14.25V20.44H20.44Z"
	)